---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>Mastering the Full Stack: Proficient in HTML, CSS, JavaScript, and back-end technologies such as PHP and SQL.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Team Player</h2>
		<p>Thrives in collaborative environments, contributing positively to team dynamics. Values open communication and respects diverse perspectives for collective success.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="brain" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Knowledge Sharing</h2>
		<p>Encouraging the exchange of insights and expertise among team members fosters a collaborative environment where everyone benefits from shared learning and contributes to collective success..</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
